<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Formulario de Notas</title>
    <link rel="stylesheet" type="text/css" href="/static/css/estilosEjercicio2.css">
</head>
    <title>Title</title>
</head>
<body>
<div class="container">
    <h1> Inicio de Sesion</h1>
    <form method="POST">
        <label for="nombre">Ingresa Tu nombre:</label>
        <input type="text" name="nombre" id="nombre" value="" required><br>
        <label for="contraseña">Ingresa Tu contraseña:</label>
        <input type="text" name="contraseña" id="contraseña" value="" required><br>
        <button type="submit">Verificar</button>
    </form>
<p> {{ mensaje }}</p>
</div>
</body>
</html>

</body>
</html>